# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Virtual environment
venv/

# IDE
.idea/

Visual Studio Code
.vscode/

# Python cache
__pycache__/
*.pyc

# knowledge base (Folder and all contents)
data/dodis_entities.kb/
data/dodis_entities.kb/**
data/mini_entities.kb/
data/mini_entities.kb/**

output/**
!output/dodis/
!output/dodis/model-best/
!output/dodis/model-best/**
output/dodis/model-best/transformer/
output/dodis/model-best/transformer/**

#dodis_transcription_xml
data/dodis_transcription_xml/
data/dodis_transcription_xml/**

# Datenbanken
*.db

# Knowledge Base
*.kb
# Komprimierte Dateien
*.gz

# Python Cache
__pycache__/
*.pyc
*.pyo

# Virtual Environment
venv/
.env

# claude
.claude/
CLAUDE.md

job_logs/
data/*.spacy
run_test.sh
!output/eval.json
