# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Virtual environment
venv/

# IDE
.idea/

# Python cache
__pycache__/
*.pyc

# knowledge base (Folder and all contents)
data/dodis_entities.kb/
data/dodis_entities.kb/**
data/mini_entities.kb/
data/mini_entities.kb/**

output/

#dodis_transcription_xml
data/dodis_transcription_xml/
data/dodis_transcription_xml/**

# Datenbanken
*.db

# Knowledge Base
*.kb
# Komprimierte Dateien
*.gz

# Python Cache
__pycache__/
*.pyc
*.pyo

# Virtual Environment
venv/
.env
